In [13]:
import sys
sys.path.append('investigation_functions')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import sklearn.preprocessing as preprocessing
from sklearn.preprocessing import MaxAbsScaler

from investigation_functions import data_process_funcs as dpf

In [28]:
def summarise_and_save_df(
        df, dir='../', exp_type_folder_name='Default', unique_dir = False, save_dir = ''):
    circuit_types = df['circuit_type'].unique()
    backends = df['backend'].unique()

    for backend in backends:
        for circuit in circuit_types:
            df_subset = df[(df['backend'] == backend) & (df['circuit_type'] == circuit)]
            df_ranged = dpf.find_range_dataframe(df_subset)

            if exp_type_folder_name != 'Default':
                exp_type = exp_type_folder_name
                exp_type=exp_type.replace("ion", "ed")
            else:
                exp_type = df_subset['experiment_type'].iloc[0]
                exp_type=exp_type.replace("ion", "ed")
            
            nr_qubits = df_subset['nr_qubits'].iloc[0]

            if exp_type != 'Hardware':
                backend_ = "fake_" + backend
            else:
                backend_ = "ibm_" + backend

            if unique_dir:
                file_name = f'{save_dir}{nr_qubits}q_{backend_}{circuit}_{exp_type}_summarised.csv'
            else:
                
                file_name  = f'{dir}{exp_type}_results/{nr_qubits}q/{nr_qubits}q_{backend_}{circuit}_summarised.csv'
            df_ranged.to_csv(file_name, index_label='column')

def summarise_and_save(experiment_type, nr_qubits, dir='../', exp_type_folder_name='Default', unique_dir = False, save_dir = ''):
    df = dpf.get_expanded_df(experiment_type, nr_qubits, dir_ = dir, processed = False, updated_results=True)
    summarise_and_save_df(df, dir, exp_type_folder_name, unique_dir, save_dir)

### Testing

In [5]:
df_4q_H = dpf.get_expanded_df('Hardware',4,dir_ = '../',processed = False, updated_results=True)

In [6]:
df_4q_H.tail()

,circuit_type,backend,nr_qubits,experiment_type,totalError,0000,0001,0010,0011,0100,...,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111
45,3,marrakesh,4,Hardware,531,531,126,125,24,70,...,0.0,7.0,61,60.0,5.0,5.0,10.0,8.0,4.0,2.0
46,3,marrakesh,4,Hardware,543,543,96,132,17,76,...,7.0,3.0,84,59.0,5.0,7.0,13.0,12.0,2.0,3.0
47,3,marrakesh,4,Hardware,622,622,120,151,22,88,...,6.0,8.0,77,81.0,5.0,9.0,12.0,7.0,2.0,2.0
48,3,marrakesh,4,Hardware,556,556,112,135,32,80,...,5.0,1.0,56,75.0,4.0,1.0,11.0,11.0,4.0,1.0
49,3,marrakesh,4,Hardware,570,570,119,127,26,92,...,2.0,5.0,74,61.0,5.0,4.0,3.0,7.0,0.0,3.0

In [7]:
df4qH_t = df_4q_H[df_4q_H['backend']=='torino']
df4qH_b = df_4q_H[df_4q_H['backend']=='brisbane']
df4qH_m = df_4q_H[df_4q_H['backend']=='marrakesh']
df4qH_f = df_4q_H[df_4q_H['backend']=='fez']

In [8]:
df4qH_t_c1 = df4qH_t[df4qH_t['circuit_type']=='1']
df4qH_t_c2 = df4qH_t[df4qH_t['circuit_type']=='2']
df4qH_t_c3 = df4qH_t[df4qH_t['circuit_type']=='3']
df4qH_t_c1.tail()

,circuit_type,backend,nr_qubits,experiment_type,totalError,0000,0001,0010,0011,0100,...,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111
52,1,torino,4,Hardware,733,733,352,209,60,36,...,8.0,44.0,11,0.0,1.0,1.0,0.0,0.0,1.0,3.0
53,1,torino,4,Hardware,751,751,369,210,53,30,...,7.0,49.0,18,1.0,1.0,2.0,0.0,1.0,2.0,2.0
54,1,torino,4,Hardware,775,775,396,214,53,37,...,9.0,44.0,10,2.0,1.0,0.0,0.0,0.0,1.0,2.0
55,1,torino,4,Hardware,782,782,385,227,66,36,...,10.0,34.0,8,1.0,1.0,1.0,2.0,0.0,0.0,4.0
56,1,torino,4,Hardware,773,773,392,217,46,36,...,12.0,43.0,13,1.0,0.0,0.0,1.0,0.0,1.0,5.0

In [9]:
df4qH_b_c1 = df4qH_b[df4qH_b['circuit_type']=='1']
df4qH_b_c2 = df4qH_b[df4qH_b['circuit_type']=='2']
df4qH_b_c3 = df4qH_b[df4qH_b['circuit_type']=='3']

df4qH_m_c1 = df4qH_m[df4qH_m['circuit_type']=='1']
df4qH_m_c2 = df4qH_m[df4qH_m['circuit_type']=='2']
df4qH_m_c3 = df4qH_m[df4qH_m['circuit_type']=='3']

df4qH_f_c1 = df4qH_f[df4qH_f['circuit_type']=='1']
df4qH_f_c2 = df4qH_f[df4qH_f['circuit_type']=='2']
df4qH_f_c3 = df4qH_f[df4qH_f['circuit_type']=='3']

In [10]:
df_4qH_t_c1_ranged = dpf.find_range_dataframe(df4qH_t_c1)
df_4qH_t_c1_ranged.head(20)

        max    min  range        mean  standard deviation    variance
0000  819.0  714.0  105.0  762.473684           26.435977  698.860902
0001  418.0  323.0   95.0  368.596491           21.236643  450.994987
0010  262.0  186.0   76.0  219.701754           15.810219  249.963033
0011   81.0   43.0   38.0   56.333333            8.507000   72.369048
0100   54.0   22.0   32.0   36.982456            5.746089   33.017544
0101   12.0    0.0   12.0    6.175439            2.383895    5.682957
0110   19.0    2.0   17.0   10.140351            3.522573   12.408521
0111   58.0   29.0   29.0   42.789474            6.244245   38.990602
1000   23.0    5.0   18.0   11.701754            3.520171   12.391604
1001    4.0    0.0    4.0    1.333333            1.057850    1.119048
1010    5.0    0.0    5.0    1.052632            1.156056    1.336466
1011    5.0    0.0    5.0    0.842105            1.048630    1.099624
1100    3.0    0.0    3.0    0.964912            0.962974    0.927318
1101    4.0    0.0    4.0    0.456140            0.780800    0.609649
1110    5.0    0.0    5.0    1.192982            1.059626    1.122807
1111   11.0    0.0   11.0    4.210526            2.395955    5.740602

In [11]:
dir = '../'
exp_type = df4qH_t_c1['experiment_type'].iloc[0]
nr_qubits = df4qH_t_c1['nr_qubits'].iloc[0]
backend = df4qH_t_c1['backend'].iloc[0]
circuit = df4qH_t_c1['circuit_type'].iloc[0]
# print(backend)

file_name  = f'{dir}{exp_type}_results/{nr_qubits}q/{nr_qubits}q_ibm_{backend}{circuit}_summarised.csv'

df_4qH_t_c1_ranged.to_csv(file_name, index_label='column')

In [ ]:
summarise_and_save_df(df_4q_H)

### Final runs

In [34]:
summarise_and_save('Simulation', 4)