In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
# import sklearn.preprocessing as preprocessing
# from sklearn.preprocessing import MaxAbsScaler

In [2]:
import data_process_funcs
import meta_dataframe_functions

In [ ]:
df_arr = data_process_funcs.get_meta_dataframe('Hardware')

In [ ]:
def get_meta_dataframe(type_data, nr_qubits):
    big_df =  meta_dataframe_functions.blank_meta_df()
    meta_dataframe_functions.load_meta_df(big_df,type_data)

    df_qubits = big_df[big_df['nr_qubits']==nr_qubits]

    # for nr_qubits in qubit_types:
    #     df_arr.append(big_df[big_df['nr_qubits']==nr_qubits])

    for i in range((df_qubits.size(0))): #for each row
        df = data_process_funcs.create_processed_df(df_qubits['file_path'][i])
        labels = np.empty(df.size(0))
        labels.fill([df_qubits['circuit_type','backend','nr_qubits'][i]])
        
        df.insert(loc=0, column = ['circuit_type','backend','nr_qubits'], value =labels)

    return df

In [12]:
big_df =  meta_dataframe_functions.blank_meta_df()
meta_dataframe_functions.load_meta_df(big_df,'Hardware')

In [14]:

df_qubits = big_df[big_df['nr_qubits']== str(4)]
df_qubits.head(10)

,nr_qubits,backend,sim,circuit_type,file_path
0,4,brisbane,False,1,../Hardware_results/4q/4q_ibm_brisbane1.csv
1,4,brisbane,False,2,../Hardware_results/4q/4q_ibm_brisbane2.csv
2,4,brisbane,False,3,../Hardware_results/4q/4q_ibm_brisbane3.csv
3,4,torino,False,1,../Hardware_results/4q/4q_ibm_torino1.csv
4,4,torino,False,2,../Hardware_results/4q/4q_ibm_torino2.csv
5,4,torino,False,3,../Hardware_results/4q/4q_ibm_torino3.csv

In [19]:
print(df_qubits.shape[0])

6

In [23]:
df = data_process_funcs.create_processed_df(df_qubits.loc[0,'file_path'])
df.head()

,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111,totalError
0,1.0,0.583086,0.068249,0.040059,0.045994,0.005935,0.002967,0.031157,0.097923,0.019288,0.000000,0.001484,0.000000,0.001484,0.004451,0.097923,674
1,1.0,0.504105,0.096880,0.054187,0.045977,0.006568,0.004926,0.034483,0.103448,0.009852,0.000000,0.011494,0.003284,0.001642,0.003284,0.119869,609
2,1.0,0.470693,0.094139,0.042629,0.053286,0.012433,0.005329,0.063943,0.115453,0.005329,0.000000,0.007105,0.005329,0.003552,0.007105,0.113677,563
3,1.0,0.520119,0.074516,0.037258,0.073025,0.007452,0.005961,0.049180,0.120715,0.008942,0.004471,0.005961,0.010432,0.001490,0.000000,0.080477,671
4,1.0,0.562857,0.078571,0.030000,0.052857,0.007143,0.002857,0.058571,0.087143,0.011429,0.001429,0.004286,0.002857,0.005714,0.001429,0.092857,700

In [25]:
print(df.shape[0])

57

In [29]:
df_qubits.loc[0,['circuit_type','backend','nr_qubits']]

circuit_type           1
backend         brisbane
nr_qubits              4
Name: 0, dtype: object

In [ ]:

# for nr_qubits in qubit_types:
#     df_arr.append(big_df[big_df['nr_qubits']==nr_qubits])

for i in range((df_qubits.shape[0])): #for each row
    df = data_process_funcs.create_processed_df(df_qubits.loc[i,'file_path'])
    # labels = np.empty(df.shape[0])
    # labels.fill([df_qubits.loc[i,['circuit_type','backend','nr_qubits']]])
    labels = 
    
    df.insert(loc=0, column = ['circuit_type','backend','nr_qubits'], value =labels)

ValueError: setting an array element with a sequence.

In [ ]:
df.head()

In [11]:
df_test_4q_hardware = get_meta_dataframe('Hardware',4)
df_test_4q_hardware.head()

TypeError: 'int' object is not callable