In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import sklearn.preprocessing as preprocessing
from sklearn.preprocessing import MaxAbsScaler
from sklearn import model_selection, datasets, svm
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA

In [2]:
import data_process_funcs as dpf

In [16]:
def features_to_int(df):
    df_ = df
    label_encoder = LabelEncoder()
    df_['backend'] = label_encoder.fit_transform(df_['backend'])
    df_['circuit_type'] = pd.to_numeric(df_['circuit_type'], downcast='integer', errors='coerce')
    df_ = df_.drop('nr_qubits', axis = 1)
    return df_

In [4]:
dp_arr = dpf.arr_dfs_of_qubit_sizes('Hardware')

In [5]:
dp4q = dp_arr[0]
dp4q.head()

,circuit_type,backend,nr_qubits,totalError,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111
0,1,torino,4,766,1.0,0.513055,0.268930,0.067885,0.049608,0.007833,0.007833,0.060052,0.015666,0.000000,0.000000,0.000000,0.001305,0.001305,0.003916,0.002611
1,1,torino,4,740,1.0,0.495946,0.255405,0.082432,0.059459,0.016216,0.018919,0.040541,0.016216,0.002703,0.002703,0.001351,0.002703,0.000000,0.002703,0.002703
2,1,torino,4,776,1.0,0.416237,0.337629,0.083763,0.065722,0.006443,0.010309,0.052835,0.012887,0.002577,0.001289,0.000000,0.001289,0.000000,0.001289,0.007732
3,1,torino,4,799,1.0,0.468085,0.255319,0.093867,0.067584,0.011264,0.015019,0.056320,0.015019,0.001252,0.003755,0.000000,0.002503,0.000000,0.002503,0.007509
4,1,torino,4,785,1.0,0.496815,0.271338,0.082803,0.053503,0.014013,0.008917,0.045860,0.016561,0.001274,0.003822,0.000000,0.001274,0.000000,0.001274,0.002548

In [6]:
dp4q.tail()

,circuit_type,backend,nr_qubits,totalError,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111
337,3,brisbane,4,933,1.0,0.516613,0.082529,0.035370,0.088960,0.060021,0.003215,0.002144,0.116827,0.067524,0.003215,0.005359,0.008574,0.008574,0.001072,0.0
338,3,brisbane,4,964,1.0,0.502075,0.082988,0.038382,0.085062,0.044606,0.004149,0.005187,0.128631,0.090249,0.003112,0.004149,0.007261,0.003112,0.001037,0.0
339,3,brisbane,4,993,1.0,0.496475,0.091641,0.040282,0.078550,0.049345,0.005035,0.005035,0.132931,0.078550,0.001007,0.002014,0.007049,0.011078,0.001007,0.0
340,3,brisbane,4,871,1.0,0.493685,0.090700,0.029851,0.087256,0.066590,0.005741,0.004592,0.118255,0.084960,0.002296,0.001148,0.006889,0.006889,0.001148,0.0
341,3,brisbane,4,908,1.0,0.511013,0.090308,0.034141,0.067181,0.064978,0.004405,0.003304,0.128855,0.083700,0.002203,0.004405,0.003304,0.002203,0.000000,0.0

In [17]:
dp4q_processed = features_to_int(dp4q)
dp4q_processed.head()

,circuit_type,backend,totalError,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111
0,1,1,766,1.0,0.513055,0.268930,0.067885,0.049608,0.007833,0.007833,0.060052,0.015666,0.000000,0.000000,0.000000,0.001305,0.001305,0.003916,0.002611
1,1,1,740,1.0,0.495946,0.255405,0.082432,0.059459,0.016216,0.018919,0.040541,0.016216,0.002703,0.002703,0.001351,0.002703,0.000000,0.002703,0.002703
2,1,1,776,1.0,0.416237,0.337629,0.083763,0.065722,0.006443,0.010309,0.052835,0.012887,0.002577,0.001289,0.000000,0.001289,0.000000,0.001289,0.007732
3,1,1,799,1.0,0.468085,0.255319,0.093867,0.067584,0.011264,0.015019,0.056320,0.015019,0.001252,0.003755,0.000000,0.002503,0.000000,0.002503,0.007509
4,1,1,785,1.0,0.496815,0.271338,0.082803,0.053503,0.014013,0.008917,0.045860,0.016561,0.001274,0.003822,0.000000,0.001274,0.000000,0.001274,0.002548