In [1]:
import data_process_funcs as dpf

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import sklearn.preprocessing as preprocessing
from sklearn.preprocessing import MaxAbsScaler

In [2]:
df_arr = dpf.get_meta_dataframe_unprocessed('Hardware')

In [4]:
df_arr[0].head()

,circuit_type,backend,nr_qubits,totalError,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111
0,1,brisbane,4,674,674,393,46,27,31,4,2.0,21,66,13,0.0,1.0,0.0,1.0,3.0,66
1,1,brisbane,4,609,609,307,59,33,28,4,3.0,21,63,6,0.0,7.0,2.0,1.0,2.0,73
2,1,brisbane,4,563,563,265,53,24,30,7,3.0,36,65,3,0.0,4.0,3.0,2.0,4.0,64
3,1,brisbane,4,671,671,349,50,25,49,5,4.0,33,81,6,3.0,4.0,7.0,1.0,0.0,54
4,1,brisbane,4,700,700,394,55,21,37,5,2.0,41,61,8,1.0,3.0,2.0,4.0,1.0,65

In [5]:
max_col = dpf.find_max_value_cols(df_arr[0])
print(max_col)

0010     78.0
0011     40.0
0100     67.0
0101     12.0
0110      8.0
0111     46.0
1000     98.0
1001     18.0
1010      4.0
1011      9.0
1100      7.0
1101      6.0
1110      5.0
1111    102.0
dtype: float64

In [5]:
range_df = dpf.find_range_dataframe(df_arr[7])
range_df.head(15)

            max    min  range    mean  standard deviation     variance
00000001  482.0  116.0  366.0  203.88           99.058144  9812.515918
00000010   67.0   24.0   43.0   47.88            8.596725    73.903673
00000011   50.0   11.0   39.0   34.20            6.821335    46.530612
00000100  144.0   19.0  125.0   44.08           29.653674   879.340408
00000101   19.0    0.0   19.0    6.44            4.616563    21.312653
00000110    8.0    0.0    8.0    2.24            1.790679     3.206531
00000111   66.0   19.0   47.0   39.62           12.430854   154.526122
00001000   90.0   39.0   51.0   58.76           10.651358   113.451429
00001001   26.0    1.0   25.0    5.46            5.384066    28.988163
00001010    7.0    0.0    7.0    1.48            1.388583     1.928163
00001011   12.0    1.0   11.0    4.60            2.507133     6.285714
00001100    7.0    0.0    7.0    2.84            1.742154     3.035102
00001101   12.0    0.0   12.0    3.10            2.261027     5.112245
00001110    3.0    0.0    3.0    1.18            0.918961     0.844490
00001111   68.0   24.0   44.0   42.98            9.740490    94.877143