In [1]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
hdwr_4q_tor1 = pd.read_csv("../Hardware_results/4q/4q_torino1.csv")

In [8]:
hdwr_4q_tor1.replace('',np.nan)
hdwr_4q_tor1.fillna(0, inplace=True)
hdwr_4q_tor1.head()

,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111
0,3330,393,206,52,38,6.0,6,46,12,0.0,0.0,0.0,1.0,1.0,3.0,2.0
1,3356,367,189,61,44,12.0,14,30,12,2.0,2.0,1.0,2.0,0.0,2.0,2.0
2,3320,323,262,65,51,5.0,8,41,10,2.0,1.0,0.0,1.0,0.0,1.0,6.0
3,3297,374,204,75,54,9.0,12,45,12,1.0,3.0,0.0,2.0,0.0,2.0,6.0
4,3311,390,213,65,42,11.0,7,36,13,1.0,3.0,0.0,1.0,0.0,1.0,2.0

In [ ]:
#https://note.nkmk.me/en/python-numpy-zeros-ones-full/