In [1]:
import ml_funcs as mlf
import pandas as pd
import numpy as np
import data_process_funcs as dpf

In [2]:
df_8q_H = dpf.get_expanded_df('Hardware',8)
df_8q_H.head()

,circuit_type,backend,nr_qubits,experiment_type,totalError,00000000,00000001,00000010,00000011,00000100,...,11110110,11110111,11111000,11111001,11111010,11111011,11111100,11111101,11111110,11111111
0,1,torino,8,Hardware,1109,1.0,0.295762,0.181244,0.041479,0.027051,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000902,0.000000,0.000000,0.005410
1,1,torino,8,Hardware,1150,1.0,0.280870,0.180870,0.045217,0.026957,...,0.0,0.0,0.000870,0.0,0.0,0.000000,0.000870,0.000000,0.002609,0.006957
2,1,torino,8,Hardware,1110,1.0,0.253153,0.173874,0.039640,0.028829,...,0.0,0.0,0.000000,0.0,0.0,0.000901,0.000000,0.000901,0.001802,0.009910
3,1,torino,8,Hardware,1119,1.0,0.268990,0.169794,0.045576,0.025916,...,0.0,0.0,0.001787,0.0,0.0,0.000894,0.000000,0.000000,0.000000,0.008937
4,1,torino,8,Hardware,1146,1.0,0.293194,0.187609,0.038394,0.028796,...,0.0,0.0,0.000000,0.0,0.0,0.000873,0.000000,0.000000,0.000873,0.013962

In [3]:
mlf.run_and_print_ml_results\
    (df_8q_H, [], 'KNN', 15, preprocessing_settings=0, \
    param_settings=0, get_self_score=True, cross_validation=True)

In [4]:
df_8q_Hi = mlf.features_to_int(df_8q_H)
circuits = mlf.split_into_circuits(df_8q_Hi)
circuits[0].head()

,circuit_type,backend,nr_qubits,experiment_type,totalError,00000000,00000001,00000010,00000011,00000100,...,11110110,11110111,11111000,11111001,11111010,11111011,11111100,11111101,11111110,11111111
0,1,torino,8,Hardware,1109,1.0,0.295762,0.181244,0.041479,0.027051,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000902,0.000000,0.000000,0.005410
1,1,torino,8,Hardware,1150,1.0,0.280870,0.180870,0.045217,0.026957,...,0.0,0.0,0.000870,0.0,0.0,0.000000,0.000870,0.000000,0.002609,0.006957
2,1,torino,8,Hardware,1110,1.0,0.253153,0.173874,0.039640,0.028829,...,0.0,0.0,0.000000,0.0,0.0,0.000901,0.000000,0.000901,0.001802,0.009910
3,1,torino,8,Hardware,1119,1.0,0.268990,0.169794,0.045576,0.025916,...,0.0,0.0,0.001787,0.0,0.0,0.000894,0.000000,0.000000,0.000000,0.008937
4,1,torino,8,Hardware,1146,1.0,0.293194,0.187609,0.038394,0.028796,...,0.0,0.0,0.000000,0.0,0.0,0.000873,0.000000,0.000000,0.000873,0.013962

In [5]:
mlf.run_and_print_ml_results\
    (circuits[0], [circuits[1], circuits[2]], 'KNN', 15, preprocessing_settings=0, \
    param_settings=0, get_self_score=True, cross_validation=True)

010
001