In [1]:
import data_process_funcs
import meta_dataframe_functions

In [3]:
file_name = '../Hardware_results/4q/4q_ibm_torino1.csv'

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import sklearn.preprocessing as preprocessing
from sklearn.preprocessing import MaxAbsScaler

In [7]:
def create_processed_df(file_name, shots = 4096):
    # current_directory = os.getcwd()
    # print("Current working directory:", current_directory)

    df = pd.read_csv(file_name)
    df.fillna(0, inplace=True)

    df2 = df
    # col1Name = df.iloc[0,0]

    df2.iloc[:,0] = abs(df2.iloc[:,0] - 4096)

    totalErrors = df2.iloc[:,0]
    df2 = df2.div(totalErrors, axis=0)
    return df2

In [3]:
df = data_process_funcs.create_processed_df(file_name)

df.head()

Current working directory: c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code

,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111,totalError
0,1.0,0.513055,0.268930,0.067885,0.049608,0.007833,0.007833,0.060052,0.015666,0.000000,0.000000,0.000000,0.001305,0.001305,0.003916,0.002611,766
1,1.0,0.495946,0.255405,0.082432,0.059459,0.016216,0.018919,0.040541,0.016216,0.002703,0.002703,0.001351,0.002703,0.000000,0.002703,0.002703,740
2,1.0,0.416237,0.337629,0.083763,0.065722,0.006443,0.010309,0.052835,0.012887,0.002577,0.001289,0.000000,0.001289,0.000000,0.001289,0.007732,776
3,1.0,0.468085,0.255319,0.093867,0.067584,0.011264,0.015019,0.056320,0.015019,0.001252,0.003755,0.000000,0.002503,0.000000,0.002503,0.007509,799
4,1.0,0.496815,0.271338,0.082803,0.053503,0.014013,0.008917,0.045860,0.016561,0.001274,0.003822,0.000000,0.001274,0.000000,0.001274,0.002548,785

In [4]:
file2 = '../Hardware_results/4q/4q_ibm_torino2.csv'
files = [file_name, file2]

In [5]:
dfs = data_process_funcs.create_processed_dfs(files)

dfs[0].head()

Current working directory: c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code
Current working directory: c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code

,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111,totalError
0,1.0,0.513055,0.268930,0.067885,0.049608,0.007833,0.007833,0.060052,0.015666,0.000000,0.000000,0.000000,0.001305,0.001305,0.003916,0.002611,766
1,1.0,0.495946,0.255405,0.082432,0.059459,0.016216,0.018919,0.040541,0.016216,0.002703,0.002703,0.001351,0.002703,0.000000,0.002703,0.002703,740
2,1.0,0.416237,0.337629,0.083763,0.065722,0.006443,0.010309,0.052835,0.012887,0.002577,0.001289,0.000000,0.001289,0.000000,0.001289,0.007732,776
3,1.0,0.468085,0.255319,0.093867,0.067584,0.011264,0.015019,0.056320,0.015019,0.001252,0.003755,0.000000,0.002503,0.000000,0.002503,0.007509,799
4,1.0,0.496815,0.271338,0.082803,0.053503,0.014013,0.008917,0.045860,0.016561,0.001274,0.003822,0.000000,0.001274,0.000000,0.001274,0.002548,785

In [6]:
file_name3 ='../Hardware_results/8q/8q_ibm_torino2.csv'
df_a = pd.read_csv(file_name3)
df_a.head()

,00000000,00000001,00000010,00000011,00000100,00000101,00000110,00000111,00001000,00001001,...,11110110,11110111,11111000,11111001,11111010,11111011,11111100,11111101,11111110,11111111
0,3000,318,191,41,29,7,10,58,31,6,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,8
1,3004,315,192,56,36,4,15,60,27,1,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,2.0,7
2,3030,313,183,51,28,4,7,64,25,5,...,NaN,NaN,2.0,NaN,NaN,1.0,1.0,1.0,1.0,4
3,3006,294,197,43,24,4,16,52,26,2,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,5
4,2969,347,200,60,34,6,10,53,28,3,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,9

In [2]:
df_arr = data_process_funcs.get_meta_dataframe('Hardware')

c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['totalError'] = totalErrors
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:42: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='circuit_type', value=bigDf['circuit_type'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='backend', value=bigDf['backend'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='nr_qubits', value=bigDf['nr_qubits'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['totalError'] = totalErrors
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:42: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='circuit_type', value=bigDf['circuit_type'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='backend', value=bigDf['backend'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='nr_qubits', value=bigDf['nr_qubits'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['totalError'] = totalErrors
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:42: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='circuit_type', value=bigDf['circuit_type'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='backend', value=bigDf['backend'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='nr_qubits', value=bigDf['nr_qubits'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['totalError'] = totalErrors
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:42: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='circuit_type', value=bigDf['circuit_type'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='backend', value=bigDf['backend'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='nr_qubits', value=bigDf['nr_qubits'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['totalError'] = totalErrors
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:42: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='circuit_type', value=bigDf['circuit_type'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='backend', value=bigDf['backend'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='nr_qubits', value=bigDf['nr_qubits'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['totalError'] = totalErrors
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:42: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='circuit_type', value=bigDf['circuit_type'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='backend', value=bigDf['backend'][i])
c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code\data_process_funcs.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(loc=0, column='nr_qubits', value=bigDf['nr_qubits'][i])

In [4]:
df_arr[8].tail()

,nr_qubits,backend,circuit_type,00000000,00000001,00000010,00000011,00000100,00000101,00000110,...,11110111,11111000,11111001,11111010,11111011,11111100,11111101,11111110,11111111,totalError
45,8,brisbane,3,1.0,0.118224,0.023047,0.009390,0.011524,0.009816,0.000427,...,0.0,0.000427,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2343
46,8,brisbane,3,1.0,0.102236,0.021908,0.008672,0.013692,0.010954,0.001826,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2191
47,8,brisbane,3,1.0,0.105359,0.024523,0.013624,0.015441,0.010445,0.002271,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2202
48,8,brisbane,3,1.0,0.108888,0.027455,0.009307,0.017217,0.013495,0.001861,...,0.0,0.000000,0.000465,0.0,0.0,0.0,0.0,0.0,0.0,2149
49,8,brisbane,3,1.0,0.122163,0.027523,0.016417,0.027040,0.015934,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2071

In [4]:
df_4_names = df_arr[:6]
df_4 = data_process_funcs.join_dfs(df_4_names)

In [5]:
df_4.head()

,nr_qubits,backend,circuit_type,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111,totalError
0,4,brisbane,1,1.0,0.583086,0.068249,0.040059,0.045994,0.005935,0.002967,0.031157,0.097923,0.019288,0.000000,0.001484,0.000000,0.001484,0.004451,0.097923,674
1,4,brisbane,1,1.0,0.504105,0.096880,0.054187,0.045977,0.006568,0.004926,0.034483,0.103448,0.009852,0.000000,0.011494,0.003284,0.001642,0.003284,0.119869,609
2,4,brisbane,1,1.0,0.470693,0.094139,0.042629,0.053286,0.012433,0.005329,0.063943,0.115453,0.005329,0.000000,0.007105,0.005329,0.003552,0.007105,0.113677,563
3,4,brisbane,1,1.0,0.520119,0.074516,0.037258,0.073025,0.007452,0.005961,0.049180,0.120715,0.008942,0.004471,0.005961,0.010432,0.001490,0.000000,0.080477,671
4,4,brisbane,1,1.0,0.562857,0.078571,0.030000,0.052857,0.007143,0.002857,0.058571,0.087143,0.011429,0.001429,0.004286,0.002857,0.005714,0.001429,0.092857,700

In [6]:
df_4.tail()

,nr_qubits,backend,circuit_type,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111,totalError
337,4,torino,3,1.0,0.381084,0.209366,0.067034,0.114784,0.056933,0.013774,0.013774,0.072544,0.041322,0.011019,0.004591,0.009183,0.002755,0.001837,0.000000,1089
338,4,torino,3,1.0,0.387293,0.212359,0.078329,0.110531,0.056571,0.015666,0.009574,0.072237,0.033072,0.006963,0.002611,0.009574,0.003481,0.000000,0.001741,1149
339,4,torino,3,1.0,0.392920,0.228319,0.074336,0.099115,0.059292,0.019469,0.007080,0.052212,0.039823,0.010619,0.005310,0.005310,0.003540,0.000000,0.002655,1130
340,4,torino,3,1.0,0.417553,0.218972,0.075355,0.098404,0.055851,0.014184,0.007979,0.051418,0.035461,0.007092,0.007092,0.008865,0.000887,0.000000,0.000887,1128
341,4,torino,3,1.0,0.373558,0.204082,0.081633,0.117125,0.058563,0.010648,0.012422,0.063886,0.047028,0.005324,0.007986,0.006211,0.002662,0.005324,0.003549,1127