In [2]:
import data_process_funcs

In [3]:
file_name = '../Hardware_results/4q/4q_ibm_torino1.csv'

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import sklearn.preprocessing as preprocessing
from sklearn.preprocessing import MaxAbsScaler

In [7]:
def create_processed_df(file_name, shots = 4096):
    # current_directory = os.getcwd()
    # print("Current working directory:", current_directory)

    df = pd.read_csv(file_name)
    df.fillna(0, inplace=True)

    df2 = df
    # col1Name = df.iloc[0,0]

    df2.iloc[:,0] = abs(df2.iloc[:,0] - 4096)

    totalErrors = df2.iloc[:,0]
    df2 = df2.div(totalErrors, axis=0)
    return df2

In [3]:
df = data_process_funcs.create_processed_df(file_name)

df.head()

Current working directory: c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code

,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111,totalError
0,1.0,0.513055,0.268930,0.067885,0.049608,0.007833,0.007833,0.060052,0.015666,0.000000,0.000000,0.000000,0.001305,0.001305,0.003916,0.002611,766
1,1.0,0.495946,0.255405,0.082432,0.059459,0.016216,0.018919,0.040541,0.016216,0.002703,0.002703,0.001351,0.002703,0.000000,0.002703,0.002703,740
2,1.0,0.416237,0.337629,0.083763,0.065722,0.006443,0.010309,0.052835,0.012887,0.002577,0.001289,0.000000,0.001289,0.000000,0.001289,0.007732,776
3,1.0,0.468085,0.255319,0.093867,0.067584,0.011264,0.015019,0.056320,0.015019,0.001252,0.003755,0.000000,0.002503,0.000000,0.002503,0.007509,799
4,1.0,0.496815,0.271338,0.082803,0.053503,0.014013,0.008917,0.045860,0.016561,0.001274,0.003822,0.000000,0.001274,0.000000,0.001274,0.002548,785

In [4]:
file2 = '../Hardware_results/4q/4q_ibm_torino2.csv'
files = [file_name, file2]

In [5]:
dfs = data_process_funcs.create_processed_dfs(files)

dfs[0].head()

Current working directory: c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code
Current working directory: c:\Users\RAMEE\Desktop\VS\Investigation_Project\ELEN4012_Investigation_2025_25G19\code

,0000,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111,totalError
0,1.0,0.513055,0.268930,0.067885,0.049608,0.007833,0.007833,0.060052,0.015666,0.000000,0.000000,0.000000,0.001305,0.001305,0.003916,0.002611,766
1,1.0,0.495946,0.255405,0.082432,0.059459,0.016216,0.018919,0.040541,0.016216,0.002703,0.002703,0.001351,0.002703,0.000000,0.002703,0.002703,740
2,1.0,0.416237,0.337629,0.083763,0.065722,0.006443,0.010309,0.052835,0.012887,0.002577,0.001289,0.000000,0.001289,0.000000,0.001289,0.007732,776
3,1.0,0.468085,0.255319,0.093867,0.067584,0.011264,0.015019,0.056320,0.015019,0.001252,0.003755,0.000000,0.002503,0.000000,0.002503,0.007509,799
4,1.0,0.496815,0.271338,0.082803,0.053503,0.014013,0.008917,0.045860,0.016561,0.001274,0.003822,0.000000,0.001274,0.000000,0.001274,0.002548,785

In [6]:
file_name3 ='../Hardware_results/8q/8q_ibm_torino2.csv'
df_a = pd.read_csv(file_name3)
df_a.head()

,00000000,00000001,00000010,00000011,00000100,00000101,00000110,00000111,00001000,00001001,...,11110110,11110111,11111000,11111001,11111010,11111011,11111100,11111101,11111110,11111111
0,3000,318,191,41,29,7,10,58,31,6,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,8
1,3004,315,192,56,36,4,15,60,27,1,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,2.0,7
2,3030,313,183,51,28,4,7,64,25,5,...,NaN,NaN,2.0,NaN,NaN,1.0,1.0,1.0,1.0,4
3,3006,294,197,43,24,4,16,52,26,2,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,5
4,2969,347,200,60,34,6,10,53,28,3,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,9