# Stage 4

In this notebook the preprocessing of the data is explained. At the time of writing this, the preprocessing is minimal. However, the intention is to add some sparsity-reduction techniques in the future.

1. [Basic Preprocessing](#1-basic-preprocessing)
2. [Sparsity Reduction...]()

## Imports

In [2]:
import sys
sys.path.append('../')

from investigation_functions import ml_funcs
from investigation_functions import data_process_funcs as dpf

## 1. Basic Preprocessing

First fetch the labeled data.

In [4]:
dir = "../../"
df_4q_H = dpf.get_expanded_df('Hardware',4,dir)

After preprocessing, the data should be ready to be fed directly into a machine learning algorithm. Therefore, redundant features are removed, and all categorical data is label-encoded. Then some feature scaling is performed.

The preprocessing does the following:
1. Drops the experiment_type features because it would not be known in an application setting
2. Drops the 0th column (eg. '0000' for 4 qubits) because it only contains 1s.
3. Transforms all numbers that are the strings datatype to integers (the circuit_type feature mainly)
4. Drops the number of qubits because the data going into the ml algorithms should all have the same number of qubits at a time
5. The totalError feature is divided by the total number of shots (4096) to convert into a relative total error between 0 and 1
6. The circuit_type feature is also normalised

In [5]:
df_4q_Hp = ml_funcs.apply_preprosessing(df_4q_H)

In [6]:
df_4q_Hp.head()

,circuit_type,backend,totalError,0001,0010,0011,0100,0101,0110,0111,1000,1001,1010,1011,1100,1101,1110,1111
0,0.333333,3,0.187012,0.513055,0.268930,0.067885,0.049608,0.007833,0.007833,0.060052,0.015666,0.000000,0.000000,0.000000,0.001305,0.001305,0.003916,0.002611
1,0.333333,3,0.180664,0.495946,0.255405,0.082432,0.059459,0.016216,0.018919,0.040541,0.016216,0.002703,0.002703,0.001351,0.002703,0.000000,0.002703,0.002703
2,0.333333,3,0.189453,0.416237,0.337629,0.083763,0.065722,0.006443,0.010309,0.052835,0.012887,0.002577,0.001289,0.000000,0.001289,0.000000,0.001289,0.007732
3,0.333333,3,0.195068,0.468085,0.255319,0.093867,0.067584,0.011264,0.015019,0.056320,0.015019,0.001252,0.003755,0.000000,0.002503,0.000000,0.002503,0.007509
4,0.333333,3,0.191650,0.496815,0.271338,0.082803,0.053503,0.014013,0.008917,0.045860,0.016561,0.001274,0.003822,0.000000,0.001274,0.000000,0.001274,0.002548